<launch>
  <arg name="limited" default="false"/>
  <arg name="paused" default="false"/>
  <arg name="gui" default="true"/>
  
  <!-- startup simulated world !!worlds/empty.world   $(find shuang)/robots/spawn.world  $(find shuang)/robots/work.world-->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="$(find shuang)/robots/design.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <!-- send robot urdf to param server -->
  <include file="$(find shuang)/launch/su/shuang_upload.launch">
    <arg name="limited" value="$(arg limited)"/>
  </include>

  <!-- push robot_description to factory and spawn robot in gazebo -->


  <include file="$(find ur_gazebo)/launch/controller_utils.launch"/>

  <rosparam file="$(find shuang)/controller/controller_group_robot.yaml" command="load"/>
  <node name="r_arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn r_arm_controller" respawn="false" output="screen"/>
  <node name="l_arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn l_arm_controller" respawn="false" output="screen"/>
  <node name="r_gripper_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn r_gripper_controller" respawn="false" output="screen"/>
  <node name="l_gripper_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn l_gripper_controller" respawn="false" output="screen"/>

  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-z 0.0 -J base_l_1_joint 0.0 -J base_r_1_joint 0.0 -J l_1_l_2_joint -2.25 -J l_2_l_3_joint 0.0 -J l_3_l_4_joint 0.0 -J l_74_l_5_joint 0.0 -J l_arm_wrist_flex_joint 0.0 -J l_gripper_finger_joint 0.0 -J r_1_r_2_joint -2.25 -J r_2_r_3_joint 0.0 -J r_3_r_4_joint 0.0 -J r_4_r_5_joint 0.0 -J r_arm_wrist_flex_joint 0.0 -J r_gripper_finger_joint 0.0 -urdf -param robot_description -model robot " respawn="false" output="screen" />
  <!--
  
<?xml version="1.0"?> -->
</launch>

